<div id="game">
  <div class="actions">
    <button mat-raised-button color="primary" (click)="showSettings = !showSettings">
      {{ buttonText }}
    </button>
    <button mat-raised-button color="primary" (click)="clearBoard()">
      Clear Board
    </button>
    <button mat-raised-button color="primary" (click)="undoLastTurn()">
      Undo Last Turn
    </button>
  </div>
  <div class="messages">
    <span class="message" *ngIf="!player && !winner && !tie">Please Enter Both Names!</span>
    <span class="message" *ngIf="player && !winner && !tie">{{ player }}, it's your turn!</span>
    <span class="message" *ngIf="winner">{{ winner }}, you win!</span>
    <span class="message" *ngIf="tie"> Its a tie!</span>
  </div>
  <mat-card class="settings" *ngIf="showSettings">
    <form>
      <mat-form-field>
        <input matInput placeholder="Player 1 Name" [value]="player1Name" maxlength="15"
          (keyup)="player1Name = player1NameInput.value" #player1NameInput />
        <mat-hint align="end">{{player1NameInput.value.length}} / 15</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Player 2 Name" [value]="player2Name" maxLength="15"
          (keyup)="player2Name = player2NameInput.value" #player2NameInput />
        <mat-hint align="end">{{player2NameInput.value.length}} / 15</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Total Rows" type="number" min="1" max="20" [value]="totalRows"
          (input)="totalRows = totalRowsInput.value" #totalRowsInput />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Total Columns" type="number" min="1" max="20" [value]="totalColumns"
          (input)="totalColumns = totalColumnsInput.value" #totalColumnsInput />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Connect How Many?" type="number" min="1" max="20" [value]="inRow"
          (input)="inRow = inRowInput.value" #inRowInput />
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="resetSettings">
        Reset Settings to Default
      </button>
    </form>
  </mat-card>
  <div #board class="game-board" [style.width.px]="boardWidth" [style.height.px]="boardHeight">
    <div class="hover-icon circle" [style.left.px]="hoverLeft" [class.red]="gameboard.player === 'X'"
      [class.yellow]="gameboard.player === 'O'">
    </div>
    <div *ngFor="let row of gameboard?.rows; let i = index" class="row">
      <span *ngFor="let col of row; let j = index" class="circle" [class.empty]="!col" [class.red]="col === 'X'"
        [class.yellow]="col === 'O'" [class.blinking]="isBlinking(i, j)" (click)="click(i, j)"></span>
    </div>
  </div>
  <div class="error-message">{{ errorMessage }}</div>
</div>